services:
  redlib:
    environment:
      ${indent(6, yamlencode(env))}
    healthcheck:
      disable: true
    image: ghcr.io/silvenga/redlib:latest
    labels:
      ${indent(6, yamlencode(labels))}
    restart: unless-stopped
