services:
  redlib:
    environment:
%{ for key in sort(nonsensitive(keys(env))) ~}
      ${key}: ${jsonencode(env[key])}
%{ endfor ~}
    healthcheck:
      disable: true
    image: ghcr.io/silvenga/redlib:latest
    labels:
      ${indent(6, yamlencode(labels))}
    restart: unless-stopped
